body{
    background-color: rgb(40, 40, 95);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
    font-style: oblique;
}

section{
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
}

div{
    text-align: center;
    padding: 5px;
}

footer{
    color: white;
    text-align: center;
    font-style: oblique;
}